.miners {
  [v-cloak] {
    display: none;
  }
  .ins-all {
    float: right;
    margin-left: 8px;
    height: 40px;
  }
  .workGroup {
    & > ul {
      border-radius: 4px;
      //box-shadow:1px 2px 3px 0px rgba(0,0,0,0.30);
      list-style: none;
      padding: 0px;
      overflow: hidden;

      & > li {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        text-align: center;
        background-color: #ffffff;
        margin-top: 1px;
        cursor: pointer;
        color: #888888;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 300;

        &:hover {
          opacity: 0.8;
        }
      }
      & > .active {
        background-color: #f3f4f7;
        color: #262626;
        font-weight: 400;
      }
      & > li:last-child {
        border: 0;
      }
    }
  }
  .v-error {
    color: red;
    display: none;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: -10px;
  }
  .v-success {
    color: green;
    display: none;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: -10px;
  }

  .operate {
    & > div {
      width: 100%;
      border-radius: 4px;
      background-color: #fff;
      height: 40px;
      margin-top: 10px;
      background-size: 18px auto;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    & > div:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
    .addMiner {
      background-image: url('/images/icon-new-group@2x.png?__inline');
    }
    .removeMiner {
      background-image: url('/images/icon-delete-group@2x.png?__inline');
    }
  }

  .cox-right {
    .panel {
      margin-bottom: 0;
    }
  }
  .miner-worker {
    height: 40px;
    list-style: none;
    padding: 0;
    background-color: #e6e9ee;
    margin-bottom: 0;
    & > li:first-child {
      margin-left: 0;
    }
    & > li {
      float: left;
      line-height: 41px;
      padding: 0 20px;
      border: solid 0px red;
      margin-left: 3px;
      cursor: pointer;
      color: #337ab7;
      font-size: 16px;
      border-radius: 4px 4px 0px 0px;
      background-color: #f5f5f5;
    }
    & > .active {
      background-color: #ffffff;
      color: #262626;
    }

    & > li:last-child {
      float: right;
      background-color: inherit;
      color: #262626;
      height: 40px;
    }

    .all {
      display: block;
      float: left;
    }
    .dropdown {
      height: 40px;
      line-height: 40px;
      margin-top: 3px;

      .dropdown-toggle {
        border-radius: 4px;
        padding: 0 15px;
        line-height: 31px;
        border: 0;
        font-size: 14px;
        color: #fff;
        display: block;
        height: 30px;
        background-color: #3478c2;
        float: left;
        margin-left: 15px;
        &:hover {
          opacity: 0.7;
        }
      }
      .dropdown-menu {
        min-width: 130px;
        max-width: 160px;
        border-radius: 4px;
        left: inherit;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        right: -1px;
        margin-top: -7px;

        .glyphicon {
          font-size: 14px;
          color: #262626;
          padding-right: 3px;
          text-align: left;
        }
        .glyphicon-hand-right {
          color: #999;
          &:hover {
            color: #333;
          }
        }
        & > li > a {
          line-height: 20px;
          color: #333;
          text-align: center;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: #333;
          }
        }

      }
    }

  }

  .active-bg {
    background-color: #f3f4f7;
  }

  .no-miner {
    line-height: 25px;
    font-size: 16px;
    color: #aaa;
    border: solid 0px red;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    .no-miner-title {
      border: solid 0px red;
      width: 230px;
      margin: 0 auto;
      text-align: right;
      position: relative;

      .icon-tip{
        position: absolute;
        width:24px;
        height: 25px;
        border: solid 0px red;
        background: url('/images/icon_know@2x.png?__inline') right 40% no-repeat;
        background-size: 24px auto;
        top:0;
        right:-28px
      }
    }
    .no-miner-content {
      margin-top: 10px;
      border: 1px solid #E9ECF0;
      padding: 10px;
      font-size: 16px;
      color: #222222;

      & > ul {
        padding: 0;
        width: 100%;
        border-radius: 3px;
        list-style: none;
        padding-top:7px;

        &>li{
          font-size: 12px;
          width:100%;
          padding-left: 25px;
          height:25px;
          line-height: 25px;
          color: #888888;
          background: url('/images/icon_tip@2x.png?__inline') left 50% no-repeat;
          background-size: 10px auto;
        }
      }

      .express{
        font-size: 12px;
        color: #888888;
        line-height: 18px;
      }
    }
  }

  .miner-table {
    padding-top: 0px;
    border-radius: 0 4px 0 0;
    background-color: #fff;
    border: solid 0px red;

    .bgChecked {
      background-color: #f3f4f7;
    }

    .hashLeft {
      float: right;
      > i {
        display: block;
        width: 17px;
        height: 10px;
        cursor: pointer;
        border: solid 0px red;
        background-size: 10px auto;
        background-repeat: no-repeat;
        margin-top: -1px;
        &:hover {
          opacity: 0.6;
        }
      }
      .sort-asc {
        background-image: url('../images/icon-arrow-up@2x.png?__inline');
        background-position: right bottom;
      }
      .sort-desc {
        margin-top: 3px;
        background-image: url('../images/icon-arrow-down@2x.png?__inline');
        background-position: right top;
      }
    }

    .workLeft {
      float: left;
    }

    .last-share {
      display: inline-block;
      float: inherit;
    }
    .last-share-i {
      .last-share();
      position: absolute;
    }
  }

  .selectAll {
    float: right;
    margin: 0;
    & > label {
      min-width: 85px;
      border: solid 0px red;
      text-align: right;
      padding-right: 22px;
      white-space: nowrap;
    }
  }
  .pagination {
    margin: 15px 0;
    margin-bottom: 5px;
  }
  .normalColor {
    color: inherit;
  }
  .badColor {
    color: red;
  }
  .normalBlock {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #008000;
  }
  .badBlock {
    display: block;
    width: 15px;
    height: 15px;;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #FF0000;
  }

  .caret {
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }

}

html[lang="zh-cn"] {
  .no-miner {

    .no-miner-title {
      width: 146px;
    }
  }
}
